plugins/dynmap/ids-by-ip.txt
plugins/dynmap/renderdata/
plugins/dynmap/web/
plugins/dynmap/world*.pending
plugins/dynmap/texturepacks/
plugins/dynmap/templates/
plugins/dynmap/lightings.txt
plugins/dynmap/markers*
plugins/dynmap/perspectives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/worlds.txt
plugins/LuckPerms/libs/
plugins/LuckPerms/*.db
plugins/mcMMO/backup/
plugins/mcMMO/flatfile/
plugins/stFriends/
logs/
usercache.json
*.jar
world*/
