plugins/dynmap/ids-by-ip.txt
plugins/dynmap/renderdata/
plugins/dynmap/web/
plugins/dynmap/world*.pending
plugins/dynmap/texturepacks/
plugins/dynmap/templates/
plugins/LuckPerms/libs/
plugins/LuckPerms/*.db
plugins/mcMMO/backup/
plugins/mcMMO/flatfile/
logs/
usercache.json
*.jar
world*/
